@use './partials/theme' as *;

.dash-lecture_wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 200px;

  & > h1 {
    margin: 0 10px;
    color: $bright;
  }

  & > h2 {
    margin: 0 10px;
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
  }
}

.dash-sections-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto 50px;
  margin-bottom: 20px;
  background-color: $bright;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000a9;
}