@use './partials/theme' as *;
@use './partials/constructions' as *;
@import './CreateSection.scss';


.sections-input > p {
  margin: 0;
  color: $bright;
  font-weight: bold;
  font-size: large;
}

#rating-prof {
  font-size: 70px;
  color: gray;

  & ion-icon {
    margin: auto 2px;
    font-size: 64px;
  }

  .selected {
    color: $bright;
    text-shadow: $bright 1px 0 10px;
  }
}

#avg-rating {
  margin-bottom: 30px;
}